* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

/* Navigation Bar Styles */

.navbar {
    background: #131313;
    background: linear-gradient(to right, #161616, #000000);
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

 .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 50px;
    padding: 0;
} 

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

/* Hero Section Styles */
.hero {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
    padding: 20px;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero__heading {
    font-size: 75px;
    margin-bottom: 24px;
    color: #fff;
}

.container {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar {
    width: 100%;
    max-width: 700px;
    background-color: rgb(255, 255, 255, .2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 30px;
}

.searchbar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #fff;
}

/* Searchbar Styles */
::placeholder {
    color: #aaa;
}

.searchbar button img{
    width: 25px;

}

.searchbar button{
    border: 0;
    border-radius: 50;
    width: 60px;
    height: 60px;
    background: transparent;
    cursor: pointer;
}

/* Service Section Styles */
.service__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 0px;
}

.service__heading {
    font-size: 50px;
    margin-bottom: 24px;
    color: #fff;
}

/* Table Styles */
table.dataTable {
    background-color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  table.dataTable td, table.dataTable th {
    border: 1px solid #000000;
    padding: 3px 10px;
  }
  table.dataTable tbody td {
    font-size: 13px;
    color: #000;
  }
  table.dataTable thead {
    background: #000;
  }
  table.dataTable thead th {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }

/* Set body background color */
body {
    background: #000000;
    background: linear-gradient(to right, #161616, #000000);
}